@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0px;
    background-color: #9C835F;
    width: 1440px;
    height: 1024px;
}   

#panah {
    width: 55px;
    height: 87px;
    padding-top: 42px;
}

#logo {
    width: 72px;
    height: 72px;
    padding-top: 27px;
    padding-left: 20px;
}

#judul-game {
    width: 410px;
    height: 62px;
    padding-top: 45px;
    padding-left: 60px;
}

#player {
    width: 299px;
    height: 94px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

#computer {
    width: 299px;
    height: 94px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

#batu-player {
    width: 128px;
    height: 92px;
}

#batu-computer {
    width: 128px;
    height: 92px;
}

#kertas-player {
    width: 115px;
    height: 150px;
}

#vs {
    width: 296px;
    height: 186px;
    margin-top: 260px;
}

#kertas-computer {
    width: 115px;
    height: 150px;
}

#gunting-player {
    width: 134px;
    height: 160px;
}

#gunting-computer {
    width: 134px;
    height: 160px;
}


.baris-judul {
    display: flex;
    margin-left: 100px;
}

.d-flex {
    margin-top: 10px;
    margin-left: 100px;
}

.refresh-button {
    width: 77px;
    height: 71px;
    margin-left: 552px;
}